<div class="conteneur-page-cinema">

    <div class="margeTop"></div>
    <div class="margeBottom"></div>
    <div class="margeRight"></div>
    <div class="margeLeft"></div>    

    <input type="text" id="barre-recherche-cinema" class="barre-recherche-cinema" list="listeCinemas" (input)="filtrerListeCinemas()" placeholder="Rechercher une ville, un cinéma..." [(ngModel)]="filtre">
    <datalist id="listeCinemas">
      <option *ngFor="let cinema of listeCinema" [value]="cinema.nom"> {{ cinema.nom }} </option>
    </datalist>
      
    <div class="liste-cards-cinema">
        <app-cinema-card class="card-cinema" [cinema]="cinema" *ngFor="let cinema of listeCinemaFiltree"></app-cinema-card>
    </div>
     
</div>
