.conteneur-page-cinema {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 0.3fr 1.5fr 1.5fr 1.5fr 0.3fr;
    grid-template-rows: 0.4fr 0.5fr 2.2fr 2.2fr 0.4fr;
}

.barre-recherche-cinema {
    grid-column: 2 / 4 ;
    grid-row: 2;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    height: 2em;
    border: none;
    border-bottom: 2px solid #673ab7;
    background-color: #683ab713;
    background-image: url('../../assets/image/icon-searchbar.png');
    background-position: 10px 7px;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.barre-recherche-cinema-mat {
    width: 100%;
}
.texte-recherche-cinema {
    width: 100%;
}

.liste-cards-cinema {
    grid-column: 2 / 5;
    grid-row: 3 / 5;
}
.card-cinema {
    display: inline-block;
    transition: all .2s ease-in-out;
}
.card-cinema:hover {
    transform: scale(1.05);
}