<mat-toolbar class="app-mat-toolbar" color="primary">
    <mat-toolbar-row class="app-mat-toolbar-row">
        <div>
            <a mat-button [routerLink]="'/accueil'"> Accueil </a>
            <a mat-button [routerLink]="'/cinema'"> Cinéma </a>
            <a mat-button [routerLink]="'/film'"> Film </a>
        </div>
        <div>
            <a mat-button [routerLink]="'/film'"> <img src="../assets/image/user-4-24.png" /> </a>
        </div>
    </mat-toolbar-row>
    </mat-toolbar>
<router-outlet></router-outlet>