<div class="app-div-card">
    <mat-card class="app-mat-card">
        <p class="app-p-img">
            <img class="app-img" src="../../../../assets/image/{{film.nomImg}}" alt="Photo of a Shiba Inu">
        </p>
        <mat-card-content class="app-mat-card-content">

            <mat-card-title class="app-mat-card-title">{{film.titre | uppercase}}</mat-card-title>

            <mat-accordion class="app-mat-accordion">
                <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Description
                    </mat-panel-title>
                    <mat-panel-description>
                    
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="app-film-infos">
                    <p class="app-p-description">
                        {{film.description}}
                    </p>                    
                    <p class="">
                        <span class="app-span-dateSortie"><span class="app-span">Date de sortie :
                            </span>{{film.dateSortie}}</span><span><span class="app-span">Durée : </span>{{film.duree}}</span>
                    </p>
                    <p class="">
                        <span class="app-span">Genre : </span>
                        <span *ngFor="let item of film.genres; let index = index">
                            {{item.valeur}}<span *ngIf="index < film.genres.length-1">,</span>
                        </span>
                    </p>
                    <p class="" *ngIf="film.realisateurs.length > 0">
                        <span class="app-span">Réalisé par </span>
                        <span *ngFor="let item of film.realisateurs; let index = index">
                            {{item.prenom}}
                            {{item.nom}}<span *ngIf="index < film.realisateurs.length-1">,</span>
                        </span>
                    </p>
                    <p class="" *ngIf="film.acteurs.length > 0">
                        <span class="app-span">Avec </span>
                        <span *ngFor="let item of film.acteurs; let index = index">
                            {{item.prenom}}
                            {{item.nom}}<span *ngIf="index < film.acteurs.length-1">,</span>
                        </span>
                    </p>
                </div>
                </mat-expansion-panel>
                
                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Réserver séances
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                    <div id="app-parent-seances">


                        <div id="app-seances-boutton-cinema">
                            <button mat-raised-button color="primary" (click)="allerPageCinema()">Choisir un cinéma</button>
                        </div>


                        <table id="app-seances-table">
                            <thead>
                                <tr>
                                    <th>Vendredi 28/08</th>
                                    <th>Samedi 29/08</th>
                                    <th>Dimanche 30/08</th>
                                    <th>Lundi 31/08</th>
                                    <th>Mardi 01/09</th>
                                    <th>Mercredi 02/09</th>
                                    <th>Jeudi 03/09</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td (click)="allerPageConnection()">11h00</td>
                                    <td (click)="allerPageConnection()">11h00</td>
                                    <td (click)="allerPageConnection()">11h00</td>
                                    <td (click)="allerPageConnection()">11h00</td>
                                    <td (click)="allerPageConnection()">11h00</td>
                                    <td (click)="allerPageConnection()">11h00</td>
                                    <td (click)="allerPageConnection()">11h00</td>
                                </tr>
                                <tr>
                                    <td (click)="allerPageConnection()">14h00</td>
                                    <td (click)="allerPageConnection()">14h00</td>
                                    <td (click)="allerPageConnection()">14h00</td>
                                    <td (click)="allerPageConnection()">14h00</td>
                                    <td (click)="allerPageConnection()">14h00</td>
                                    <td (click)="allerPageConnection()">14h00</td>
                                    <td (click)="allerPageConnection()">14h00</td>
                                </tr>
                                <tr>
                                    <td (click)="allerPageConnection()">16h30</td>
                                    <td (click)="allerPageConnection()">16h30</td>
                                    <td (click)="allerPageConnection()">16h30</td>
                                    <td (click)="allerPageConnection()">16h30</td>
                                    <td (click)="allerPageConnection()">16h30</td>
                                    <td (click)="allerPageConnection()">16h30</td>
                                    <td (click)="allerPageConnection()">16h30</td>
                                </tr>
                                <tr>
                                    <td (click)="allerPageConnection()">20h00</td>
                                    <td (click)="allerPageConnection()">20h00</td>
                                    <td (click)="allerPageConnection()">20h00</td>
                                    <td (click)="allerPageConnection()">20h00</td>
                                    <td (click)="allerPageConnection()">20h00</td>
                                    <td (click)="allerPageConnection()">20h00</td>
                                    <td (click)="allerPageConnection()">20h00</td>
                                </tr>
                            </tbody>
                        </table>



                    </div>
                </mat-expansion-panel>
            </mat-accordion>

        </mat-card-content>
    </mat-card>
</div>