.app-div-card {
   display: flex;
   justify-content: center;
}

.app-mat-card {
    width: 80%;
    display: flex;
    height: 30vw;
    margin-top: 2vh;
}

.app-p-img{
    width: 25%;
    flex-shrink: 0;
}

.app-img{
    width: 100%;
}

.app-mat-card-content {
    padding: 1.3em;
}

.app-mat-card-title {
    margin-bottom: 0.7em;
    height: 10%;
}

.app-p-description {
    text-align: justify;
}

.app-span-dateSortie {
    margin-right: 15%;
}

.app-span {
    font-weight: bolder;
}

/*.app-film-infos {
    height: 45%;
    overflow: scroll;
}
.app-seances {
    height: 45%;
    overflow: scroll;
}*/

.app-mat-accordion {
    height: 100%;
}
.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }