.app-cinema-card {
    max-width: 250px;
    margin: 1vw;
  }
  
/*.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}*/