.app-cinema-card {
    max-width: 250px;
    margin: 1vw;
  }

  .app-cinema-card-title {
    line-height: 1.5em;
    height: 3em;
  }
  .app-cinema-card-subtitle {
    line-height: 1em;
    height: 2em;
  }