<div class="page" >

  <div >
    <!-- Titre carousel du haut-->
    <h1 class="titreAccueilAffiche">A l'affiche</h1>

    <!-- carousel du haut (films tendance)-->
    <carousel class="carousel" [pauseOnHover]="false" [autoplayInterval]="3000" [height]="300" [loop]="false"
      [autoplay]="true" [transitionDuration]="200" [margin]="100" >
      <div class="carousel-cell" *ngFor="let film of listeFilmALAffiche">
        <img (click)="openDialog(film)" src="assets/image/{{film.nomImg}}">
      </div>
     <!-- <div class="carousel-cell">
        <img (click)="openDialog()" src="assets\image\belleFille.jpg">
      </div>
      <div class="carousel-cell">
        <img (click)="openDialog()" src="assets\image\bigfoot.jpg">
      </div>
      <div class="carousel-cell">
        <img (click)="openDialog()" src="assets\image\blancheNeige.jpg">
      </div>
      <div class="carousel-cell">
        <img (click)="openDialog()" src="assets\image\dreams.jpg">
      </div>
      <div class="carousel-cell">
        <img (click)="openDialog()" src="assets\image\yakari.jpg">
      </div>
      <div class="carousel-cell">
        <img (click)="openDialog()" src="assets\image\theRental.jpg">
      </div>
      <div class="carousel-cell">
        <img (click)="openDialog()" src="assets\image\mignonnes.jpg">
      </div>
      <div class="carousel-cell">
        <img (click)="openDialog()" src="assets\image\enrage.jpg">
      </div>
      <div class="carousel-cell">
        <img (click)="openDialog()"src="assets\image\myHeroAcademia.jpg">
      </div>-->
    </carousel>


    <!-- Titre carousel du bas-->
    <h1 class="titreAccueilSelection">Notre selection</h1>

    <!-- carousel du haut (films tendance)-->
    <carousel [pauseOnHover]="true" [autoplayInterval]="3000" [height]="300" [loop]="true"
    [autoplay]="true" [transitionDuration]="200" [margin]="100">
      <div class="carousel-cell">
        <img (click)="openDialog(film)" src="assets/image/spectre.jpg">
      </div>
      <div class="carousel-cell">
        <img (click)="openDialog(film)" src="assets\image\belleFille.jpg">
      </div>
      <div class="carousel-cell">
        <img (click)="openDialog(film)" src="assets\image\harry1.jpg">
      </div>
      <div class="carousel-cell">
        <img (click)="openDialog(film)" src="assets\image\leBonLaBruteEtLeTruand.jpg">
      </div>
      <div class="carousel-cell">
        <img (click)="openDialog(film)" src="assets\image\harry3.jpg">
      </div>
      <div class="carousel-cell">
        <img (click)="openDialog(film)" src="assets\image\greenland.jpg">
      </div>
      <div class="carousel-cell">
        <img (click)="openDialog(film)" src="assets\image\theRental.jpg">
      </div>
      <div class="carousel-cell">
        <img (click)="openDialog(film)" src="assets\image\blancheNeige.jpg">
      </div>
      <div class="carousel-cell">
        <img (click)="openDialog(film)" src="assets\image\yakari.jpg">
      </div>
      <div class="carousel-cell">
        <img (click)="openDialog(film)" src="assets\image\terribleJungle.jpg">
      </div>
    </carousel>

    <footer>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="espace">
        <br>
        <br>
        <br>
        <br>
      </div>
    </footer>
  </div>
</div>